.social-media
  a(class="link instagram" href="https://www.instagram.com/eudora/" target="_blank")
  a(class="link facebook"  href="https://www.facebook.com/eudora/" target="_blank")
  a(class="link twitter"   href="https://twitter.com/Eudora/" target="_blank")
  a(class="link youtube"   href="https://www.youtube.com/user/eudora/" target="_blank")