.product__buy{
  width: 100%;
  color: $filter-dark-middle;
  border-radius: 30px;
  cursor: pointer;
  margin: auto;
  text-align: center;
  z-index: 4;
}

.product__buy-button{
  margin: auto;
  text-align: center;
  background-color: $filter-brand-dark; 
  color: snow;
  border-radius: 30px;
  padding: 3% 10%;
  font-size: calc(14rem/16);
  outline: none;
  
      &:hover{
        font-weight: bolder;
      }
      
      &:active,&:target,&.-disabled{
        box-shadow:  inset .3em .3em .3em darken($color-box-dark,7%), 
        inset -.3em -.3em .3em lighten($color-primary,12%);  
      }
      .icons{
        &:before{
          content: fa-content($fa-var-shopping-bag);
          margin-right: 1em;
        }
      }
      &.-disabled{
        cursor: not-allowed;
        pointer-events: none;

        .icons{
          &:before{
            content: fa-content($fa-var-check-circle);
            margin-right: 1em;
          }
        }
      }
}
.thumb__container{
  position: absolute;
  top: 0;
  left: 0;
  height: 40%;
  padding-right: 6%;
  transform: translateY(25%);
  z-index: 3;
  box-sizing: border-box;
  overflow-y: scroll;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  // -webkit-transform: translate3d(0,0,0);
}

.thumb__selection{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 30% 0;
  width: 100%;
}
.thumb__selection-shadow-up{
  display: block;
  position: absolute;
  box-shadow: 0 0 .7em .7em #fff;
  width: 22%;
  top: 10%;
  left: 0;
  z-index: 4;
}

.thumb__selection-shadow-down{
  display: block;
  position: absolute;
  box-shadow: 0 0 .7em .7em #fff;
  width: 22%;
  bottom: 50%;
  left: 0;
  z-index: 4;
}
.thumb__label{
  margin: 0.3em;
  text-align: center;
  cursor: pointer;
  border-radius: 50%;
    &--active{
      box-shadow: 0 0  0.5em  $filter-brand-dark;
      border: 1px solid $filter-brand-dark;
    }
    @include round-thumbs;
}
.thumb__figure{
  width: 100%;
  height: 100%;
  border-radius: 50%;
  margin: auto;
  padding: 1px;
  border: 1px solid $filter-silver;
  display: flex;
  box-sizing: border-box;
    &:hover{
      border-color: $filter-hover-dark;
    }
}
.thumb__img{
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: inline-block;
  margin: auto;
  background-repeat: no-repeat;
  background-size: 700%;
  background-position: center;
  z-index: 2;
}