$select-icons         :  #979899;
$filter-brand         : $color-primary;
$filter-brand-dark    : darken($color-primary,10%);
$filter-gold          : #b69969;
$filter-background    : $color-primary;
$filter-hover-dark    : rgba(0,0,0,0.3);
$filter-discount      : $danger-text;
$filter-silver        : #e7e7e7;
$filter-dark-middle   : $color-dark-middle;
$loader-background    : rgba(255,255,255,0.7);