.shelfs{
  position: relative;
}
.bag-shelf{
  width: 95%;
  margin: auto;
  display: flex;
  flex-direction: column;
  height: 80%;
  overflow-y: scroll;
  @include breakpoint (desktop){
    height: 75%;
    @include scrollbar(12px,$color-primary);
  }

    &__item{
      display: flex;
      width: 95%;
      height: fit-content;
      flex-wrap: wrap;
      margin: .5em auto;
      padding: 0.3em 0;
        &:hover{
          @extend %box-shadow-light;
        }
      &-img-anchor{
          display: flex;
          width: auto;
          min-width: 30px;
          max-width: 20%;
          @include breakpoint (desktop){
            width: 70px;
          }
        }
        &-img{
          margin: auto;
          max-width: 100%;
          max-height: 100%;
        }

        &-info{
          display: flex;
          flex: 1 3;
          justify-content: space-between;
          flex-wrap: wrap;
          padding: 0.5% 2.5%;
            &-name{
              font-size: rem(16);
              width: 70%;
            }
            
            &-price{
              font-size: rem(14);
              text-align: right;
              justify-self: flex-end;
              width: 30%;
              color: $color-secondary;
              font-weight: bold;
             
              &-discount{
                text-decoration: line-through;
                font-style: italic;
                color: grey;
                font-weight: lighter;
              }
            }
            
            &-quantity{
              border: 0;
              margin-top: .5%;
              transition: transform 0.2s ease;
              @extend %button-soft-light;
              cursor: pointer;
            }
            &-del{
              margin-top: .5%;
              transition: transform 0.2s ease;
              @extend %icons-soft;
              cursor: pointer;
              &:after{
                content: fa-content($fa-var-trash-alt);
                font-size: rem(16);
                display: block;
              }
            }
          }
        }
      }
.bag-shelf__empty{
  flex-basis: 100%;
  font: rem(30)/1 $font-suport;
  padding: 0 1em;
  text-align: center;
  margin: 0 auto;
  @extend %underline-gradient-secondary-light;
}