
.bag-top{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
  z-index: z('panel');
  &>.button-return{
    @extend %button-flat;
    font-size: rem(16);
  }
  &>.button-finish{
    @include button-custom($color-text-light,$success-text);
    font-size: rem(16);
    &.-disabled{
     @extend %button-disabled;
    }
  }
  &>.bag-totals{
    @extend %box-shadow-light;
    @extend %box-dark;
    text-shadow: 0 0 5px $color-text-dark;
    border-radius: 20px;
    width: 100%;
    @extend %flex-center;
    flex-wrap: wrap;
    padding: .5em 1em;
    margin-top: 0.2em;
    font-size: rem(19);
  }
  .amount{
    @extend %flex-center;
    justify-content: space-between;
    width: 100%;
  }
  .cashback{
    @extend %flex-center;
    justify-content: space-between;
    width: 100%;
    &-text,&-value{
        margin: 0.2em;
        color: $success-text;
        text-shadow: 0 0 5px lighten($success-text,5%);
    }
  } 
  .loading-wrap{
    @extend %loadingBar-wrap;
    min-height: initial;

      .loading-bar {
        @extend %loadingBar;
      }
  }
}