@mixin arrow-generate($position: 'up', $arrow-width: 20px, $arrow-size: $arrow-width / 4) {
  $pos: -45deg;

  @if ( $position == 'up' ) {
      $pos: $pos;
  }

  @else if ( $position == 'right' ) {
      $pos: 45deg;
  }

  @else if ( $position == 'down' ) {
      $pos: 135deg;
  }

  @else if ( $position == 'left' ) {
      $pos: -135deg;
  }

  @else { /* */ }

  content: '';
  display: inline-block;
  width: $arrow-width;
  height: $arrow-width;
  border-top: $arrow-size solid #333;
  border-right: $arrow-size solid #333;
  transform: rotate($pos);
}

/*
  $direction: up, down, left, right
*/
@mixin triangle($direction, $size: 6px, $color: #222) {
  content: '';
  display: block;
  position: absolute;
  height: 0;
  width: 0;

  @if ( $direction == 'up' ) {
      border-bottom: $size solid $color;
      border-left: 1/2*$size solid transparent;
      border-right: 1/2*$size solid transparent;
  }

  @else if ( $direction == 'down' ) {
      border-top: $size solid $color;
      border-left: 1/2*$size solid transparent;
      border-right: 1/2*$size solid transparent;
  }

  @else if ( $direction == 'left' ) {
      border-top: 1/2*$size solid transparent;
      border-bottom: 1/2*$size solid transparent;
      border-right: $size solid $color;
  }

  @else if ( $direction == 'right' ) {
      border-top: 1/2*$size solid transparent;
      border-bottom: 1/2*$size solid transparent;
      border-left: $size solid $color;
  }
}
