%h1{
  font-size: rem(50);
}

%h2{
  font-size: rem(30rem);
}

%h3{
  font-size: rem(18rem);
}

%h4{
  font-size: rem(14rem);
}
%h5{
  font-size: rem(12rem);
}
%h6{
  font-size: rem(10rem);
}

%paragraph{
  font-size: rem(18rem);
}
