
%icons-frame{
  text-align: center;
  vertical-align: middle;
  align-self: center;
  font-size: rem(20);
  padding:  .5em;
  box-sizing: border-box;
  outline: none;
}
%icons-round{
  @extend %icons-frame;
  border-radius: 50%;
}

%icons-square{
  @extend %icons-frame;
  border-radius: 10px;
}

%icons-flat{
  @extend %icons-round;
  @extend %box-gradient-primary;
  
}
%icons-soft{
  @extend %icons-round;
  color: $color-primary;
  font-weight: bold;
    box-shadow:   .2em .2em .2em darken($color-white,60%), 
                 -.2em -.2em .2em darken($color-white,5%);
  
  &:active,&.-disabled{
    box-shadow:  inset .2em .2em .2em darken($color-white,60%), 
                inset -.2em -.2em .2em darken($color-white,5%);
  }
}
%icons-soft-dark{
  @extend %icons-round;
  color: $color-text-light;
  background-color: $color-background-dark;
  font-weight: bold;
    box-shadow:   .2em .2em .2em darken($color-white,60%), 
                 -.2em -.2em .2em darken($color-white,5%);
  
  &:hover{
   text-shadow: 0 0 8px $color-text-light;
  }
  &:active,&.-disabled{
    box-shadow:  inset .2em .2em .2em darken($color-white,60%), 
                inset -.2em -.2em .2em darken($color-white,5%);
  }
}

.icons{
  @extend %icons;
}
.icons-social{
  @extend %icons-social;
}